@charset "utf-8"
/* CSS Document */
body {
  background: url("/static/images/bg.png") repeat
  margin: 0;
  padding: 0;
  font-family: "宋体";
  font-size: 12px;
  width: 100%;
  min-width: 1003px;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
}

li {
  list-style: none;
}

em, i {
  font-style: normal;
}

input {
  outline: none;
  font-family: "宋体";
  font-size: 12px;
  border: 0;
}

.clear {
  clear: both;
  display: block;
}

a img {
  border: none;
}

a:link, a:visited, a:hover {
  text-decoration: none;
  color: inherit;
}

form {
  margin: 0;
  padding: 0;
}
